.main {
    display: flex;
    justify-self: center;    
    background-color: #202124;
    color: #fff;
  }
  
  .p_main{
    font-family: "Helvetica", Arial, sans-serif;
    font-weight: bold;
    font-size: large;
  }